.about {
  max-width: 100vw;

  &__wrapper {
    position: relative;
    top: -300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__image {
    margin-right: 40px;
    max-width: 458px;

    & img {
      width: 100%;
      min-width: 300px;
      object-fit: contain;
    }
  }

  &__description {
    max-width: 542px;
    @include font-open-sans;
    font-size: 1.6rem;
    line-height: 1.88;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
