.about {
  position: relative;
  top: -322px;
  padding-top: 22px;
  max-width: 100vw;

  &__wrapper {
    @include display-flex-row;
  }

  &__image {
    margin-right: 40px;
    max-width: 458px;

    & img {
      width: 100%;
      min-width: 300px;
      object-fit: contain;
    }
  }

  &__description {
    max-width: 542px;
    @include font-open-sans(1.6rem, none, $blackberry-color);
    line-height: 1.88;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
