.home {
  width: 100%;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 850px;
    background: $overlay-color;
    opacity: 0.85;
    z-index: -9;

    @media screen and (max-width: $laptop-width) {
      height: 705px;
    }

    @media screen and (max-width: $tablet-width) {
      height: 755px;
    }

    @media screen and (max-width: $mobile-l-width) {
      height: 698px;
    }

    @media screen and (max-width: $mobile-s-width) {
      height: 742px;
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 850px;
    background-size: cover;
    background-position: center;
    background-image: url('assets/images/png/home_bg_img.png');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    z-index: -10;

    @media screen and (max-width: $laptop-width) {
      height: 705px;
    }

    @media screen and (max-width: $tablet-width) {
      height: 755px;
    }

    @media screen and (max-width: $mobile-l-width) {
      height: 698px;
    }

    @media screen and (max-width: $mobile-s-width) {
      height: 742px;
    }
  }

  &__wrapper {
    padding-top: 225px;

    @media screen and (max-width: $laptop-width) {
      padding-top: 120px;
    }

    @media screen and (max-width: $tablet-width) {
      padding-top: 80px;
    }

    @media screen and (max-width: $mobile-l-width) {
      padding-top: 50px;
    }
  }
}

.introduce {
  @include display-flex-column-center;

  &__intro {
    @include display-flex-center;
    width: 99px;
    height: 33px;
    @include font-montserrat(1.8rem, uppercase, $blackberry-color);
    background-color: $turquoise-color;
    user-select: none;

    @media screen and (max-width: $tablet-width) {
      width: subtractPercent(99px, 0.3);
      height: subtractPercent(33px, 0.3);
      font-size: subtractPercent(1.8rem, 0.3);
    }

    @media screen and (max-width: $mobile-l-width) {
      width: subtractPercent(99px, 0.4);
      height: subtractPercent(33px, 0.4);
      font-size: subtractPercent(1.8rem, 0.4);
    }
  }

  &__title {
    @include display-flex-center;
    max-width: 556px;
    min-height: 100px;
    margin: 0;
    padding: 10px 30px;
    border: 10px solid $blackberry-color;
    text-align: center;
    @include font-montserrat(4.8rem, uppercase, $blackberry-color);
    user-select: none;

    @media screen and (max-width: $tablet-width) {
      max-width: subtractPercent(670px, 0.3);
      min-height: subtractPercent(100px, 0.3);
      border: subtractPercent(10px, 0.3) solid $blackberry-color;
      font-size: subtractPercent(4.8rem, 0.3);
      padding: subtractPercent(10px, 0.3) subtractPercent(30px, 0.3);
    }

    @media screen and (max-width: $mobile-l-width) {
      max-width: subtractPercent(670px, 0.5);
      min-height: subtractPercent(100px, 0.5);
      border: subtractPercent(10px, 0.5) solid $blackberry-color;
      font-size: subtractPercent(4.8rem, 0.5);
      padding: subtractPercent(10px, 0.5) subtractPercent(30px, 0.5);
    }
  }

  &__description {
    margin-top: 30px;
    max-width: 540px;
    text-align: center;
    @include font-open-sans(1.6rem, none, $blackberry-color);

    @media screen and (max-width: $tablet-width) {
      margin-top: 15px;
      max-width: 390px;
      font-size: 1.4rem;
    }

    @media screen and (max-width: $tablet-width) {
      max-width: 320px;
    }
  }
}
