.portfolio {
  margin-top: 120px;
  max-width: 100vw;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description-wrapper {
    max-width: 767px;
  }

  &__content {
    @include display-flex-row;
    width: 100%;
  }

  &__list {
    margin-right: 3%;
  }

  &__choose-category {
    width: min-content;
    margin-bottom: 49px;
    @include font-montserrat(3rem, uppercase, $blackberry-color);
  }

  &__categories {
    padding-left: 19px;
  }

  &__category {
    width: fit-content;
    margin: 0 0 29px 0;
    @include font-montserrat(1.4rem, uppercase, $blackberry-color);
    transition: color 0.2s linear;
    cursor: pointer;
    user-select: none;

    &--active {
      position: relative;
      right: 19px;
      width: fit-content;
      padding: 5px 19px;
      margin: -5px 0 24px 0;
      color: $white-color;
      background-color: $turquoise-color;
      cursor: default;
    }

    &:not(.portfolio__category--active):hover {
      color: lighten($blackberry-color, 30%);
    }
  }

  &__images-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__column {
    max-width: 262px;
    margin-left: 3.85%;
  }

  &__image {
    width: 100%;
    margin-bottom: 13%;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.09);
    }
  }
}
