.button {
  width: 165px;
  height: 50px;
  @include font-montserrat(1.4rem, uppercase, $white-color);
  cursor: pointer;
  transition: background 0.3s linear, color 0.3s linear,
    transform 0.15s ease-in-out;
  user-select: none;

  &--small {
    width: 135px;
    min-width: 135px;
  }

  &--green {
    background-color: $turquoise-color;

    &:hover {
      background-color: $blackberry-color;
    }
  }

  &--white {
    color: $turquoise-color;
    background-color: $white-color;

    &:hover {
      color: $white-color;
      background-color: $blackberry-color;
    }
  }

  &:active {
    transform: scale(0.93);
  }
}
