.button {
  width: 165px;
  height: 50px;
  font-size: 1.4rem;
  @include font-montserrat;
  color: $white-color;
  cursor: pointer;
  transition: all 0.3s linear;

  &--small {
    width: 135px;
    min-width: 135px;
  }

  &--green {
    background-color: $turquoise-color;

    &:hover {
      background-color: $blackberry-color;
    }
  }

  &--white {
    color: $turquoise-color;
    background-color: $white-color;

    &:hover {
      color: $white-color;
      background-color: $blackberry-color;
    }
  }
}
