.title {
  position: relative;
  display: block;
  margin: 22px 0 17px 0;
  width: fit-content;
  @include font-montserrat(3rem, uppercase, $blackberry-color);
  user-select: none;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 2px;
    width: 68px;
    height: 21px;
    background-color: $turquoise-color;
    transition: left 2s ease;
    z-index: -1;
  }

  &:hover::before {
    left: calc(100% - 68px);
  }

  &__description {
    margin-bottom: 101px;
    text-align: center;
    @include font-open-sans(1.4rem, none, $blackberry-color);
    line-height: 1.71;
  }
}
