@mixin font-montserrat($size, $case, $color) {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: $size;
  text-transform: $case;
  color: $color;
}

@mixin font-open-sans($size, $case, $color) {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: $size;
  text-transform: $case;
  color: $color;
}
